{% extends "base.html" %}
{% block content %}

<h2>info about this node</h2>


<table>
<tr><th>nickname</th><td>{{nickname}}</td></tr>
<tr><th>uuid</th><td>{{uuid}}</td></tr>
<tr><th>location</th><td>{{location}}</td></tr>
<tr><th>writeable</th><td>{{writeable}}</td></tr>
<tr><th>base url</th><td>{{base_url}}</td></tr>
{% if verbose %}
<tr><th>hash keys</th><td>
{% for k in hash_keys %}{{k}} {% endfor %}
</td>
{% endif %}
</table>
</table>

<h2>Other nodes</h2>

<table>
<tr>
<th>nickname</th>
<th>base_url</th>
<th>uuid</th>
<th>writeable</th>
<th>last seen</th>
<th>last failed</th>
<th></th>
<th></th>
</tr>
{% for node in nodes %}
<tr>
<th>{{node.nickname}}</th>
<td>{{node.base_url}}</td>
<td>{{node.uuid}}</td>
<td
{% if node.writeable %}
style="background-color: #66ff66"
{% else %}
style="background-color: red"
{% endif %}
>{{node.writeable}}</td>
<td>{{node.last_seen|date:"Y-m-d H:i:s"}}</td>
<td
{% if node.is_current %}
style="background-color: #66ff66"
{% else %}
style="background-color: red"
{% endif %}
>{{node.last_failed}}</td>
<td>
<form action="/forget/{{node.id}}/"
      method="post"><input type="submit" value="forget" /></form>
</td>

<td>
<form action="/ping/{{node.id}}/"
      method="post"><input type="submit" value="ping" /></form>
</td>

</tr>
{% endfor %}
</table>

<form action="/add_node/">
base_url: <input type="text" name="base_url" />
<input type="submit" value="add node" />
</form>

{% if verbose %}
{% for node in nodes %}
<table>
<tr><th>nickname</th><td>{{node.nickname}}</td></tr>
<tr><th>uuid</th><td>{{node.uuid}}</td></tr>
<tr><th>location</th><td>{{node.location}}</td></tr>
<tr><th>writeable</th><td>{{node.writeable}}</td></tr>
<tr><th>base url</th><td>{{node.base_url}}</td></tr>
<tr><th>last seen</th><td>{{node.last_seen}}</td></tr>
<tr><th>last failed</th><td
{% if node.is_current %}
style="background-color: #66ff66"
{% else %}
style="background-color: red"
{% endif %}
>{{node.last_failed}}</td></tr>
<tr><th>hash keys</th><td>
{% for k in node.hash_keys %}{{k}} {% endfor %}
</td>
</table>

{% endfor %}
{% endif %}
<h3>ring</h3>

{% for r in ring %}
{{r.0}}: {{r.1.nickname}}<br />
{% endfor %}

<form action="/bootstrap/" 
      method="post"><input type="submit"
			   value="bootstrap"
			   /></form>



{% endblock %}
